/*---------Fonts and Colors--------
Fonts: 
Montserrat Black for titles
Montserrat Regular for all other text. 

font-family: 'Montserrat', sans-serif;

Colors: 
Red (#E9354C)
Grey (#AEB5BF)
--------------------------------*/

/*---------Global Styles--------*/

.site {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  line-height: 1.5;
}

p {
  text-align: center;
  font-size: 2vw;
}

blockquote {
  font-size: 2vw;
}

/* Header section */

header {
  display: flex;
  background: #e9354c;
}

.header-image {
  max-width: 50%;
  margin: 0 auto;
  padding: 30px 0;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
}

/* .youtube-video {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 30px 20px;
} */

.youtube {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7vh;
  padding-top: 7vh;
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* .save-time h1 {
  font-size: 2rem;
}

.save-time p {
  font-size: 1.5rem;
} */

.save-time-image {
  max-width: 75%;
  margin: 0 auto;
}

.btn-lg {
  width: 30vw;
  height: 10vh;
  font-size: 3vw;
}

/* .c-starter h1 {
  font-size: 2rem;
}

.c-starter p {
  font-size: 1.4rem;
} */

.boxes-container {
  display: grid;
  grid-template-columns: repeat(3, 23vw);
  grid-template-rows: 25vh;
  grid-gap: 5vw;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.grey-box {
  background-color: #aeb5bf;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}

.grey-box h1 {
  font-size: 10vw;
}

.grey-box p {
  font-size: 2vw;
  line-height: 1;
}

.and-more {
  line-height: 2;
  margin-bottom: 3vh;
}

.about {
  display: grid;
  grid-template-columns: 45% 55%;
  background: #aeb5bf;
  padding: 5vh;
}

.about img {
  grid-column: 1/2;
  height: auto;
  width: 150%;
  position: relative;
  right: 10%;
}

.about-details {
  grid-column: 2/3;
  color: white;
  padding-top: 10px;
}

/* .about-details h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
} */

/* .about-details p {
  margin: 1.5rem;
} */

.testimonies {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: #e9354c;
  display: grid;
  grid-template-columns: 65%;
  justify-content: center;
}

.testimonies h1 {
  color: white;
}

.testimonies blockquote {
  background: white;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
}

.testimonies cite {
  color: white;
  text-align: right;
  font-size: 2vw;
  font-style: normal;
}

.final-cta {
  margin-top: 40px;
  display: inline-flex;
}

/* .final-cta h1 {
  font-size: 2rem;
} */

/* .final-cta p {
  font-size: 1.25rem;
} */

.final-cta img {
  margin: 20px auto;
  height: auto;
  width: 90%;
  justify-content: center;
}

.final-cta div:last-of-type {
  height: 15vh;
  background: #aeb5bf;
}
